/* Reset Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;

  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.125rem;

  cursor: pointer;
}

button:hover {
  outline: 0.25rem solid orange;
}

button:active {
  background-color: rgb(206, 177, 177);
}

a {
  text-decoration: none;  
  color: orange;
}
/* Reset End */

/* General Start */
html {
  line-height: 1.4;
}

body {
  background-color: rgb(21,29,44);
  color: whitesmoke;
}
/* General End */

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header,
.footer  {
  flex: 0 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 50px;
  padding: 1rem;
  background-color: rgb(31,41,55);
}

.header {
  border-bottom: 1px solid rgb(49,58,70);
}
.footer {
  border-top: 1px solid rgb(49,58,70);
}

.body {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

}

/* wrapper for content */
.banner,
.battle-log,
.button-choice,
.score {
  width: 80vh;

  padding: 1rem 3rem;
  border: 1px solid rgb(49,58,70);
  border-radius: 1rem;
  background-color: rgb(31,41,55);
}

/* Content Block Start*/
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content--header {
  font-size: 1.5rem;
  font-weight: 700;
}

.content--body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Content Block End*/


/* Button Selection Start*/
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.buttons button {
  font-weight: 900;
}
/* Button Selection End*/

/* Battle Log Block Start */
.content.battle-log {
  align-items: unset;
}
.battle-log .content--body {
  font-size: 1.25rem;
  border: 1px solid white;
}
.battle-log p {
  padding: 0.3rem 1rem;
}

.battle-log p:nth-child(even) {
  background-color: rgba(186, 165, 165, 0.497);
}
/* Battle Log Block Start */

/* Score Start */
.score {
  width: unset;
}
.score .content--header {
  font-size: 2.5rem;
  border-bottom: 0.125rem solid white;
}
.score .content--body {
  flex-direction: row;
}

.score--box {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 300px;
  }

.score--item {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score--divider {
  flex: none;
  font-size: 4rem;
}

.score--title {
  font-size: 2rem;
}
.score--number {
  font-size: 4rem;
  font-weight: 800;
}
/* Score End */